body{
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo{
	width: 375px;
	height: 812px;
	border: 1px solid #cacaca;
	border-radius: 3px;
	font-family: sans-serif;
}

/*header*/

.header{
	display: flex;
	border-bottom: 1px solid #cacaca;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	width: 375px;
	height: 50px;
}

/*control pannel*/

.control{
	width: 375px;
	height: 108px;
	font-size: 14px;
	border-bottom: 1px solid #cacaca;
}

.input_text{
	margin: 10px;
	padding: 5px;
	border: 3px solid #2b2b2b;
	color: #2b2b2b;
	width: 50%;
}

.input_text:hover{
	transition: 0.4s;
	border: 3px solid #2b2b2b;
}

.add{
	margin: 10px;
	padding: 5px;
	border: 1px solid #2b2b2b;
	border-radius: 5px;
	background-color: #2b2b2b;
	color: #fcfcfc;
	width: 30%;
}

.add:hover{
	transition: 0.4s;
	background-color: #acacac;
	border: 1px solid #acacac;
}

.rem_all{
	margin: 1.5px;
	padding: 5px;
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
	width: 30%;
}

.rem_all:hover{
	transition: 0.4s;
	background-color: #828282;
	border: 3px solid #828282;
}

.rea_all{
	margin: 1.5px;
	padding: 5px;
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
	width: 30%;
}

.rea_all:hover{
	transition: 0.4s;
	background-color: #828282;
	border: 3px solid #828282;
}

.todo__options{
	margin: 6px;
	padding: 5px;
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
	/*float: right;*/
}

.todo__items{
	height: 100%;
	width: 375px;
	font-size: 14px;
}

.todo__item {
	font-size: 14px;
	margin: 10px;
	padding: 5px;
	border-bottom: 1px solid #cacaca;
	list-style-type: none;
}

.todo__action_delete {
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
	width: 30%;
	height: 30px;
}

.todo__action_complete {
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
	width: 30%;
	height: 30px;
}

.todo__action_restore {
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
	width: 30%;
	height: 30px;
}

.todo__action_delete:hover {
  	transition: 0.4s;
	background-color: #828282;
	border: 3px solid #828282;
}

.todo__action_complete:hover {
  	transition: 0.4s;
	background-color: #828282;
	border: 3px solid #828282;
}

.todo__action_restore:hover {
  	transition: 0.4s;
	background-color: #828282;
	border: 3px solid #828282;
}

.todo__action_circle_res{
	height: 3em;
  	width: 3em;
	float: right;
	border: 0.1875em solid #fc1808;
  	border-radius: 50%;
}

.todo__action_circle_com{
	height: 3em;
  	width: 3em;
	float: right;
	border: 0.1875em solid #02ee02;
  	border-radius: 50%;
  	justify-items: center;
}

[data-todo-state="active"] .todo__action_restore,
[data-todo-state="completed"] .todo__action_complete {
  display: none;
}

[data-todo-state="active"] .todo__action_circle_com,
[data-todo-state="completed"] .todo__action_circle_res{
  display: none;
}

[data-todo-option="active"] .todo__item:not([data-todo-state="active"]),
[data-todo-option="completed"] .todo__item:not([data-todo-state="completed"]) {
  display: none;
}